section {
  display: table;
}
.mat-mdc-form-field {
  display: block;
}
.mat-mdc-dialog-actions {
  justify-content: right;
  button {
    margin-left: 5px;
  }
}
.add-button-container {
  text-align: right;
}

.line-item {
  margin-top: 10px;
}
