.top-bar-container {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 20px;
  background-color: rgba(209, 212, 229, 0.25);
  flex-wrap: wrap;
  span.disabled {
    cursor: not-allowed;
  }
  .create-button {
    margin-top: 5px;
  }
}
